.btn-border{
    border-radius:10px;
    border:2px solid transparent;
    margin: 5px;
}
.btn-size{
    width: 150px;
    height: 40px;
    font-size: large;
    font-weight:bolder;
  
}
.redClass{
    color:red
}
.blueClass{
    color:blue
}