
<div class="container">
  <div
  app-class-Directive
  [customNgClass]="{class1:condition1,class2:condition2}"
  myBorder
  [myClasses]="{class3:condition3,class4:condition4}">
    <h2>App Component Works!!</h2>
  </div>
  
  <div myBorder [borderFromParent]="'3px solid blue'">
    <h4>App Component Works</h4>
  </div>
  <app-demo 
  [colorFromParent]="'red'"
  [title]="'Demo Component Title'"
  [btn]="'Next'"
  [bgclr]="'yellow'">
  </app-demo>
  
  <app-demo 
  [colorFromParent]="'Blue'"
  [title]="'Edit Feature'"
  [btn]="'Save'"
  [bgclr]="'green'">
  </app-demo>
</div>



