.container{
    width: 80%;
    margin: auto;
    background-color: aliceblue;
    height: 300px;

}

th,td,tr,table button{
  border: 1px solid blue;
  width: 200px;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  
}
table{
    margin:auto;
    width: 90%;
}
.parent{
    background-color: aliceblue;
    width: 80%;
    margin:auto
}
.input{
    margin:10px 20px;
}