/* You can add global styles to this file, and also import other style files */
.class1{
color:blue;
background-color: antiquewhite;
}
.class2{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: larger;
}
.class3{
    border:4px sandybrown solid;
    margin:20px;
}
.class4{
    border-radius:20px;
    padding:10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    margin: auto;

    margin:auto;

    width: 50%;
}